<form method="POST">
<body>
    <form action="/login" method="post">
 <div class="register">


 
 <div>

    <input type="text" id="email" name="email">
    <label for="email">Email</label>
 </div>
  <div>

    <input type="password" id="password" name="password_hash">
    <label for="password">Password</label>
  </div>
  <div>

    <input type="submit" value="submit">
        <!---  <button type="button" class="button clear" data-action="clear">clear</button>
                  <button type="sumbit" class="submit" data-action="submit">submit</button> -->
  </div>
</div>
  
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

 {{#if err}}
    <div class="err">{{err}}</div>
{{/if}}
</form>
</body>
</form>
