<form method="POST">
<body>
    <form action="/petition" method="post">


  
      <canvas id='signature' width="600" height="200">signature here</canvas>
        <input type="hidden" id='hiddenSignature' name='signature'>   <!--name correspongd with name on req.body-->
 

    <input type="submit" value="submit">
    
 
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

</form>

</body>
  

</form>
 <script src="script.js"></script>
 