<body>
    <form action="/petition" method="post">
 <ul>
  <li>
    <label for="first">First:</label>
    <input type="text" id="first" name="user_first">
  </li>
  <li>
    <label for="last">Last:</label>
    <input type="text" id="last" name="user_last">
  </li>
  <li>
      <canvas>signature here</canvas>
  </li>
 </ul>
</form>
<button> SUBMIT </button>  
</body>
