<form method="POST">
<body>
    <form action="/profile" method="post">
 <ul>
  
  <li>
    <label for="last">age:</label>
    <input type="int" id="age" name="age">
  </li>
    <li>
    <label for="email">city:</label>
    <input type="text" id="city" name="city">
  </li>
  <li>
    <label for="email">url:</label>
    <input type="text" id="url" name="url">
  </li>
  <li>
    <label for="first">id:</label>
    <input type="hidden" id="id" name="user_id">
  </li>

  <li>
    <input type="submit" value="submit">

  </li>
 </ul>
</form>
</body>
</form>