<form method="POST">
<body>
    <form action="/register" method="post">

    <div class="seal" id="seal"><a href = '/'><img src="https://indreams.club/images/mv-seal.png"></div></a>
  <div class ='powerofdreams'><h3><h1>do you believe in the power of dreams?</h1> <h3>Do you believe that the heirarchy of physical reality over psychic reality is a construct of society?</h3>  <h2>let your voice be heard! <br>Register today and show your support! </h2> <em>inDreams inc.™</em> </h3> </div>
  <div class='register'>
    <div>

    <input type="text" id="first" name="user_first">
    <label for="first">First</label>
    </div>
 
    <div>

    <input type="text" id="last" name="user_last">
    <label for="last">Last</label>
  
    </div>
<div>

    <input type="text" id="email" name="email">
    <label for="email">Email</label>
</div>

<div>

    <input type="password" id="password" name="password_hash">
    <label for="password">Password</label>
</div>
<div class='submit'>
    <input type="submit"  value="submit">
</div>
 
  <div>
    <p>already registered? head over here to <a href="/login">login</a> </p>
  </div>
      </div>
      
        <!---  <button type="button" class="button clear" data-action="clear">clear</button>
                  <button type="sumbit" class="submit" data-action="submit">submit</button> -->


    <input type="hidden" name="_csrf" value="{{csrfToken}}">
 
</form>
</body>
</form>
