
<!--<h3>Thank you for signing, you are number {{>count}}</h3>-->
{{#signerNumber}}
<h3> {{count}} others share your vote for a new heirarchy of reality </h3>
{{/signerNumber}}

{{#signatureImage}}
<img src="{{signature}}" alt="signature">
{{/signatureImage}}

<!---{{#rows}}
<h3> are number {{count}}</h3>
<img src="{{signature}}" alt="signature">
{{/rows}}-->
    <div><p>would you like to create a <a href="/profile">profile</a>?  </p></div>


 <a href="/signers"><button>SIGNERS</button></a>   
 <div></div>
 <form action="delete" method="POST">

<button>DELETE SIGNATURE</button>
 </form>